
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Code+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Inconsolata&family=Source+Code+Pro:ital,wght@1,600&display=swap');


*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(227 222 222);
    width: 10vw;
    font-family: 'Inconsolata', monospace;
    height: 434vh;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding:33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
   /* background-color: yellow;*/
    width: 90vw;
}

.container{
    display: flex;
}

.infocontainer{
    /*background-color: greenyellow;*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    
}

.devPic img{
    height:58vh;
}

.devInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 35px;

}

.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
}

.about{
    font-size: 25px;
}

.moreAbout{
    margin-top: 23px;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
}

.buttons{
    margin-top: 34px;
}


.btn{
    padding: 9px 9px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}


.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.contactform{
    padding: 0 34px;
    padding-top: 37px;
    font-family: 'Exo', sans-serif;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
    

}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;

}

#form-check input{
    width: 24px;
    margin: 3px 0;
}




.blogItem{
    margin:20px;
    font-family: 'Exo', sans-serif;
}

h1{
    font-family: 'Exo', sans-serif;
    margin: 23px;
}

p{
    font-family: 'Source Code Pro', monospace;
}

.intro{
    margin: 78px 26px;
}

.intro h2{
    font-family: 'Exo', sans-serif;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
}

.skillitem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.skillcontainer{
    margin: 12px;
}

.hundred{
    width: 265px;
    background-color: blueviolet;
}

.fifty{
    width: 125px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: yellow;
}

.t3{
    width: 50px;
    background-color: rgb(32, 236, 117);
}




.serviceitem{
    margin:50px;
    font-family: 'Exo', sans-serif;
}

label{
    display: inline-block;
    margin-top: 15px;
    color: rgb(127, 172, 255);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 300;
}

/*
content 1
*/

#check1{
    display: none;
}

.content1{
    display: none;
    transition: 0.5s linear;
}

#check1:checked~.content1{
    display: block;
}

#check1:checked ~ label{
    visibility: hidden;
}

#check1:checked ~ label:after{
    content:'Show Less';
    display: block;
    visibility: visible;
}

/* content 2
*/

#check2{
    display: none;
}
.content2{
    display: none;
    transition: 0.5s linear;
}

#check2:checked~.content2{
    display: block;
}

#check2:checked ~ label{
    visibility: hidden;
}

#check2:checked ~ label:after{
    content:'Show Less';
    display: block;
    visibility: visible;
}


#check3{
    display: none;
}
.content3{
    display: none;
    transition: 0.5s linear;
}

#check3:checked~.content3{
    display: block;
}

#check3:checked ~ label{
    visibility: hidden;
}

#check3:checked ~ label:after{
    content:'Show Less';
    display: block;
    visibility: visible;
}




#check4{
    display: none;
}
.content4{
    display: none;
    transition: 0.5s linear;
}

#check4:checked~.content4{
    display: block;
}

#check4:checked ~ label{
    visibility: hidden;
}

#check4:checked ~ label:after{
    content:'Show Less';
    display: block;
    visibility: visible;
}



/*
blog style
*/

#check11{
    display: none;
}

.content11{
    display: none;
    transition: 0.5s linear;
}

#check11:checked~.content11{
    display: block;
}

#check11:checked ~ label{
    visibility: hidden;
}

#check11:checked ~ label:after{
    content:'Show Less';
    display: block;
    visibility: visible;
}

/* content 2
*/

#check22{
    display: none;
}
.content22{
    display: none;
    transition: 0.5s linear;
}

#check22:checked~.content22{
    display: block;
}

#check22:checked ~ label{
    visibility: hidden;
}

#check22:checked ~ label:after{
    content:'Show Less';
    display: block;
    visibility: visible;
}






#check33{
    display: none;
}
.content33{
    display: none;
    transition: 0.5s linear;
}

#check33:checked~.content33{
    display: block;
}

#check33:checked ~ label{
    visibility: hidden;
}

#check33:checked ~ label:after{
    content:'Show Less';
    display: block;
    visibility: visible;
}




#check44{
    display: none;
}
.content44{
    display: none;
    transition: 0.5s linear;
}

#check44:checked~.content44{
    display: block;
}

#check44:checked ~ label{
    visibility: hidden;
}

#check44:checked ~ label:after{
    content:'Show Less';
    display: block;
    visibility: visible;
}




.content11{
    margin-top: 16px;
}

.head2{
    margin-top: 8px;
}

.head3{
    margin-top: 8px;
}

.head4{
    margin-top: 8px;
}


.head5{
    margin-top: 8px;
}

